.settings-menu-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 192px;
    &.floating {
        position: absolute;
        &.top-left {
            top: 8px;
            left: 8px;
        }
        &.top-right {
            top: 8px;
            right: 8px;
        }
        &.bottom-left {
            bottom: 8px;
            left: 8px;
        }
        &.bottom-right {
            bottom: 8px;
            right: 8px;
        }
    }
}

.settings-menu {
    width: 192px;
    overflow-y: auto;
    padding: 0;
    background: black;
    border: 1px solid white !important;
    text-align: left;

    .ant-menu-item {
        font-size: 11px;
        height: 24px;
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        /* padding-left: 24px;
        padding-right: 34px; */

        .ant-menu-title-content {
            line-height: 24px;
        }
    }
    .ant-menu-submenu {
        font-size: 11px;
        margin-top: 4px;
        margin-bottom: 4px;

        .ant-menu-submenu-title {
            height: 24px !important;
        }
        .ant-menu-title-content {
            line-height: 24px;
        }
    }
    .ant-input-number input {
        color: black;
    }
    .ant-input-number .ant-input-number-handler-wrap {
        display: none;
    }
}

.settings-menu-extra {
    font-size: 13px;
    text-align: start;
}